*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	height: 100vh;
	width: 100%;
}
/*-- CSS PARA SCROLLBAR--*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
    border-radius: 1em;
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(169, 166, 166);
    border-radius: 1em;
}
/*************************************/
.contenedor{
	margin: 0 auto;
    max-width: 780px;
    width: 65%;
}
.p-3{padding: 3%}

#mensajes{
	height: 15skln  m em;
	overflow: auto;
}
textarea.materialize-textarea{padding: 0px;}
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #3949ab;
	box-shadow: 0 1px 0 0 #3949ab;
}
textarea.materialize-textarea:focus:not([readonly])+label{
	color: #3949ab;
	font-size: 1rem;
}
.publicacion{
	overflow-wrap: break-word;
}